.WatchComponent {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

.GoBack {
    display: flex;
    margin-right: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.GoBack:active {
    border: 1px solid gray;
}